<%- include("header") -%>
<%- include("nav") -%>
<div class=" bg-success text-white">
    <h1>YOUR COST ITEM</h1>
    <h4>sum: <%= cost.sum%></h4>
    <h4>description: <%= cost.description%></h4>
    <h4>category: <%= cost.category%></h4>
    <h4>date: <%= cost.date%></h4>
</div>

<%- include("footer") -%>